.imagenA{
    max-width: 200px;
    box-shadow: 0px 0px 100px -15px rgba(225,196,250,1);
    border-radius: 100px;
    margin: 20px;
}

.AboutUsCards {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    /* background-color: #d5bcf9; */
    width: 100%;
    height: 100%;
}

.Card {
    margin: 10px 50px;
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 400px;
    align-items: center;
    background-color: #ffffff;
    border-radius: 50px;
    color: #1b1526;
}

.Card:hover{
    box-shadow: 0px 0px 35px -15px rgba(225,196,250,1);
}

.Card a{
    color: #cd95c8;
    text-decoration: inherit;
}

.Card a:hover{
    color: #ffc97a;
}

.Card h2{
    margin: 5px;
}