.Navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(236, 227, 227);
}

.ruta{
    padding: 10px;    
}

.tittle{
    padding: 0px 30px;
}